<div class="new-bg"><div class="container">
    <div class="new-container d-flex">
      <div class="new-drink-info">
        <h1><%= @cocktail.name %></h1>
         <% @cocktail.doses.each do |dose|  %>
          <p><%= dose.description  %> <%= dose.ingredient.name %></p>
         <% end %>
        <div>
          <%= link_to "add details",  new_cocktail_dose_path(@cocktail.id), class: "btn"  %>
          <%= link_to "home", cocktails_path, class: "btn" %>
        </div>
      </div>
      <div class="new-container-image drink-image">
      </div>
    </div>
  </div>
  </div>
